*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 20px 100px 10px 30px ;
}

.header{
    background-color: rgb(213, 255, 255);
    height: 100px;
}

.main{
    background-color: rgb(255, 255, 255);
    height: 400px;
}

.footer{
    background-color: rgb(213, 241, 242);
    height: 100px;
}

.section{
    background-color: rgb(211, 211, 211);
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* modelo de caja */


.caja{
    background-color: rgb(41, 89, 232);
    color: white;
    width: 120px;
    height: 130px;
    padding: 12px;
    border: solid 3px green;
    margin: 30px;
}


.links{
    background-color: red;
}






